/* App.css */
.message-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.date-separator {
  text-align: center;
  margin: 10px 0;
  font-weight: bold;
  color: #888;
}

.message {
  display: inline-block;
  max-width: 70%;
  border-radius: 20px;
  padding: 10px 15px;
  align-items: center;
  margin-bottom: 10px;
}

.incoming {
  background-color: #f0f0f0;
  align-self: flex-start;
}

.outgoing {
  background-color: #007bff;
  color: #fff;
  align-self: flex-end;
}

